<div class="container-fluid" *ngIf="authService.isAuthenticated()">
  <div class="row">

    <!-- Sidebar -->
    <div class="col-auto px-0" style="background-color: #f4f4f4">
      <div id="sidebar" class="collapse collapse-horizontal show"
           [class.sidebar-expanded]="sidebarExpanded">
        <div id="sidebar-nav" class="d-flex flex-column vh-100">

          <!-- Botão Toggle -->
          <div class="border-bottom text-white d-flex align-items-center" style="background-color: #5e87b0; height: 59px; max-height: 62px">
            <button class="btn btn-sm me-2" (click)="toggleSidebar()">
              <i class="bi bi-list fs-3 text-light"></i>
            </button>
          </div>

          <!-- Itens do Menu -->
          <ul class="nav nav-pills flex-column mb-auto flex-grow-1">
            <li class="nav-item">
              <a routerLink="/index" routerLinkActive="menu-selecionado"
                 [routerLinkActiveOptions]="{exact: true}"
                 class="nav-link text-dark d-flex align-items-center">
                <i class="bi bi-house fs-5"></i>
                <span *ngIf="sidebarExpanded" class="ms-4">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/tipo-recurso" routerLinkActive="menu-selecionado"
                 class="nav-link text-dark d-flex align-items-center">
                <i class="bi bi-collection fs-5"></i>
                <span *ngIf="sidebarExpanded" class="ms-4">Tipos de Recurso</span>
              </a>
            </li>

            <li class="nav-item btn-group dropend">
              <button type="button" class="btn btn-transparent text-start" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-cast fs-5"></i>
                <span *ngIf="sidebarExpanded" class="ms-4">Recurso</span>
                <ul class="dropdown-menu"  style="height: calc(100vh - 59px); padding-top: 10px; border-radius: 0">
                  <span class="ms-4">Recurso</span>
                  <a routerLink="/recurso" routerLinkActive="menu-selecionado"
                     class="nav-link text-dark d-flex align-items-center bg-transparent">
                    <span class="ms-4">Recurso</span>
                  </a>
                  <hr class="dropdown-divider"/>
                  <span class="ms-4">Relatórios</span>
                  <a routerLink="#" routerLinkActive="menu-selecionado"
                     class="nav-link text-dark d-flex align-items-center bg-transparent">
                    <span class="ms-4">Lista de recursos</span>
                  </a>
                </ul>
              </button>
            </li>

            <li class="nav-item">
              <a routerLink="/recurso" routerLinkActive="menu-selecionado"
                 class="nav-link text-dark d-flex align-items-center">
                <i class="bi bi-cast fs-5"></i>
                <span *ngIf="sidebarExpanded" class="ms-4">Recurso</span>
              </a>
            </li>

            <li class="nav-item">
              <a routerLink="/reserva" routerLinkActive="menu-selecionado"
                 class="nav-link text-dark d-flex align-items-center">
                <i class="bi bi-calendar-check fs-5"></i>
                <span *ngIf="sidebarExpanded" class="ms-4">Reserva</span>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/usuario" routerLinkActive="menu-selecionado"
                 class="nav-link text-dark d-flex align-items-center">
                <i class="bi bi-person fs-5"></i>
                <span *ngIf="sidebarExpanded" class="ms-4">Usuário</span>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/relatorios" routerLinkActive="menu-selecionado"
                 class="nav-link text-dark d-flex align-items-center">
                <i class="bi bi-file-text fs-5"></i>
                <span *ngIf="sidebarExpanded" class="ms-4">Relatórios</span>
              </a>
            </li>
          </ul>

          <!-- Footer da Sidebar -->
          <div class="p-3 border-top" *ngIf="sidebarExpanded">
            <small class="text-muted">Gestão de Reservas - V 1.0</small>
          </div>
        </div>
      </div>
    </div>

    <!-- Conteúdo Principal -->
    <main class="col ps-0">
      <!-- Header -->
      <header class="text-white py-2 px-3" style="background-color: #5e87b0">

        <div class="d-flex align-items-center justify-content-between">
          <div>
          <button class="btn btn-sm btn-light me-2 d-md-none" (click)="toggleSidebar()">
            <i class="bi bi-list"></i>
          </button>
          <img src="assets/images/logo-completa.png"
              alt="Logo" class="me-2" style="height: 40px;">
          <!-- <h4 class="mb-0">{{ title }}</h4> -->
          </div>
          <div class="dropdown bd-highlight">
            <button class="btn btn-transparent text-white border-0 d-flex align-items-center p-0"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">

              <i class="bi bi-person-circle fs-3 me-3"></i>

              <span class="me-2 text-capitalize">{{ primeiroNome }}</span>

              <i class="bi bi-chevron-down"></i>

            </button>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Meu usuário</a></li>
              <li><a class="dropdown-item" href="#">Alterar senha</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" style="cursor: pointer" (click)="onLogout()">
                <i class="bi bi-door-open me-2"></i>Sair</a>
              </li>
            </ul>
          </div>
        </div>

      </header>

      <div class="p-3">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>

<ng-container *ngIf="!authService.isAuthenticated()">
  <router-outlet></router-outlet>
</ng-container>
